.sidebar-menu a, .eborder-top
{
    cursor:pointer;
} 

.headingStyle
{
    box-shadow: none !important;
    border-left: none !important;
    border-right: none !important;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px !important;
    background: none!important;
}
.panel-body
{ 
 border-top: 1px solid #ccc !important;
}

.exit>a:hover
 {
   // background: blue !important; /* Цвет фона под ссылкой */ 
 //   background-color: blue !important;
      color: red !important;/* Цвет ссылки */ 
      //background: #2e3b46 !important;
      background-color: #394a59;
} 

.exit>a
{
    text-transform: uppercase !important;
    font-size: 14px !important;
    color: white;
    background-color: #394a59;
}

.exit>a>i
{
    padding-right: 10px;
}